@model IEnumerable<MaterialViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Materials</h1>
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Create New Material</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/@item.Image" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a type="button" class="btn btn-primary form-control" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil"></i><br />Edit
                        </a>
                        <a type="button" class="btn btn-info form-control" asp-action="Details" asp-route-id="@item.Id">
                            <i class="bi bi-card-list"></i> Details
                        </a>
                        <a type="button" class="btn btn-danger form-control" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
